<div class="jumbotron">
  <h5 class="display-5">About Me</h5>
  <p class="lead">I’m a full-stack developer who creates web applications using the Ruby, Python, and JavaScript programming languages and frameworks. </p>
  <p>I am driven to build simple solutions that are intuitive, easy-to-use, and improve business performance.</p>
  <p>I have excellent written communication skills, and I have solidified my soft skills through several years of teaching, training, and working with others on long-term projects to achieve measurable results.</p>
  <hr class="my-4">
  <p>To view the techologies and tools I use, click <a [routerLink]="['/skills']">here</a>.</p>
</div>