<h5>Skills / Capabilities</h5>

<div class="container">
  
  <div class="card-deck">
    
    <div class="card mb-4">
      <h4>Languages</h4>
      <div class="card-body">
        <div class="icon-section">
          <img class="icon" src="./javascript-icon.png" style="width: 30%">
          <img class="icon" src="./ruby-icon.png" style="width: 25%">
          <img class="icon" src="./python-icon.png" style="width: 30%">
        </div>
        <ul class="list-group">
          <li class="list-group-item-action">JavaScript</li>
          <li class="list-group-item-action">Ruby</li>
          <li class="list-group-item-action">Python</li>
        </ul>
      </div> <!--close div card-body-->
    </div> <!--close div card-->
    
    <div class="card mb-4">
      <h4>Frameworks</h4>
      <div class="card-body">
        <div class="icon-section">
          <img class="icon" src="./angular-icon.png" style="width: 27%">
          <img class="icon" src="./django-icon.png" style="width: 33%">
          <img class="icon" src="./rails-icon.png" style="width: 33%">
        </div>
        <ul class="list-group">
          <li class="list-group-item-action">Angular</li>
          <li class="list-group-item-action">Django</li>
          <li class="list-group-item-action">Rails (including ActiveRecord)</li>
        </ul>
      </div> <!--close div card-body-->
    </div> <!--close div card-->
    
    <div class="card mb-4">
      <h4>Databases</h4>
      <div class="card-body">
        <div class="icon-section">
          <img class="icon" src="./mongodb-icon.png" style="width: 35%">
          <img class="icon" src="./postgresql-icon.png" style="width: 35%">
          <img class="icon" src="./sql-icon.png" style="width: 28%">
        </div>        
        <ul class="list-group">
          <li class="list-group-item-action">MongoDB</li>
          <li class="list-group-item-action">PostgreSQL</li>
          <li class="list-group-item-action">SQL</li>
          <li class="list-group-item-action">SQLite and MySQL (including MySQL Workbench)</li>
          <li class="list-group-item-action">ERDs and queries/joins</li>
        </ul>
      </div> <!--close div card-body-->
    </div> <!--close div card-->
    
    <div class="card mb-4">
      <h4>Web Development</h4>
      <div class="card-body">
        <div class="icon-section">
          <img class="icon" src="./css3-icon.png" style="width: 33%">
          <img class="icon" src="./html5-icon.png" style="width: 30%">
          <img class="icon" src="./bootstrap-icon.png" style="width: 37%">
        </div>        
        <ul class="list-group">
          <li class="list-group-item-action">Web Design: CSS3, HTML5, JQuery, Bootstrap, SASS, Coffeescript, Adobe Photoshop and InDesign, responsive design</li>
          <li class="list-group-item-action">JavaScript: RESTful APIs, JSON, AJAX, Postman, Socket.IO, npm, Mongoose, ES6, TypeScript</li>
          <li class="list-group-item-action">MVC/MTV frameworks</li>
          <li class="list-group-item-action">Git and GitHub</li>
          <li class="list-group-item-action">Test- and Error-Driven Development</li>
          <li class="list-group-item-action">CRUD operations</li>
          <li class="list-group-item-action">OOP and ORM</li>
        </ul>
      </div> <!--close div card-body-->
    </div> <!--close div card-->
    
  </div><!--close div card-deck-->
  
</div> <!--close div container-->

